/* Add your global styles here */
body {
  margin: 0;
  font-family: 'Raleway', Arial, sans-serif
}

/* Add specific styles for components and sections */
.app {
  transition: background-color 0.3s ease;
  background-color: #fff;

}

.dark-mode {
  background-color: #212020fc;
  color: #fff;
}

.hero-section {
  /* Add styling for hero section */
  color: #fff; /* Adjust text color for dark mode */
}

.booking-form {
  /* Add styling for booking form */
  background-color: #fff; /* Adjust background color for dark mode */
  color: #333; /* Adjust text color for dark mode */
}



